/* Globals */
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
.header{
    background-color: blue;
    color: white;
    padding: 2rem;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
}
/* End Globals */



/* Start Index Section */
.content{
    width: 100%;
    height: 100vh;
    background-color: rgb(227, 224, 224);
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: red;
}
/* End Index Section */





/* Start About Section */


/* End About Section */


/* Start Services Section */
.square{
    width: 200px;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: blue;
    color: black;
}
#square-1{
    background-color: yellow;
}
#square{
    background-color: red;
}


/* End Services Section */


